<div style="margin-inline: 15%; margin-top: 3%; margin-bottom: 10;">
    <div class="white-container">
        <div class="parent">
            <img class="image1" src="../../../assets/images/profile-background2.jpg" />

            <img class="image2" src="../../../assets/images/logo.jpg" />
        </div>
        <div class="flex-container">
            <!-- INFO-->
            <div class="flex-item">
                <h1 style="margin-top: 5%; margin-inline: 1.5%;  font-size: 30px; font-weight: 400;">
                    Company Name
                </h1>
                <div style=" margin: 2%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Offices: </div>Novi Sad, Beograd
                </div>
                <div style=" margin: 2%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Employees: </div>251-500
                </div>
                <div style=" margin: 2%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Industry: </div> Engineering
                </div>

            </div>

            <!-- CONTACT INFO-->
            <div class="flex-item">
                <h3 style="margin-top: 6%; font-size: 18px; font-weight: 400;">Contact Info</h3>
                <div style=" margin-block: 2%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Website: </div>www.company-website.com
                </div>
                <div style="  margin-block: 2%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">E-mail: </div>support@company.com
                </div>
                <div style="  margin-block: 2%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Phone number: </div> +381625563743
                </div>

            </div>

            <!-- ABOUT-->
            <div style="padding-bottom: 2%; padding-inline: 3%; margin-bottom: 1%;">
                <h2 style="font-size:24px; font-weight: 200; margin-top: 1%; margin-bottom: 1.5%;">About us</h2>
                <div class="rectangle"></div>
                <br>
                <p style=" margin: 0%;font-weight: 300;">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                    voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                    quidem rerum
                    facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui
                    blanditiis praesentium
                    voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                    quidem rerum
                    facilis est et expedita distinctio.
                </p>
            </div>
        </div>

    </div>
    <br>
    <br>

    <!-- TABS-->
    <div>
        <mat-tab-group mat-align-tabs="start" color="warn">
            <!-- COMMENTS-->
            <mat-tab label="Comments">
                <div style="margin-bottom: 10%; margin-top: 6%;">
                    <div style="padding-bottom: 2%; padding-inline: 0%; margin-bottom: 1%;">
                        <div class="flex-container">

                            <div class="flex-container flex-item" style="padding-inline: 0%;">
                                <h3 style="font-weight: 400; margin-bottom:5px; font-size: 24px;"><span
                                        style="font-weight: 300; margin-right: 10px">Rating:</span> 4.3 </h3>
                                <mat-icon color="primary">star</mat-icon>
                                <h4 style="font-size: 18px; padding-left:2%;"> (12 Comments)</h4>
                            </div>
                            <div class="flex-item" style="text-align: right;">
                                <button mat-button color="warn" (click)="openAddCommentModal()">Leave a Comment</button>
                            </div>
                        </div>
                        <div class="rectangle"></div>
                        <br>
                        <div class="flex-container">
                            <div class="flex-item">
                                <div class="white-container " style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 5%;">
                                        <p style="font-size: 12px; font-weight: 300;  ">
                                            By <i><span style="font-weight: 400;"> user-email@gmail.com</span>,
                                                14.05.2022.</i>
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <h3 style="font-weight: 400; margin-bottom:5px; font-size: 20px;">5</h3>
                                        <mat-icon color="primary">star</mat-icon><span
                                            style="margin-inline: 3%; margin-top: 0.5%; font-weight: 600;">
                                            &#183;</span>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Very satisfied
                                        </h3>
                                    </div>
                                    <div>
                                        <p> {{text}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="white-container " style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 5%;">
                                        <p style="font-size: 12px; font-weight: 300;  ">
                                            <i>By <span style="font-weight: 400;"> user-email@gmail.com</span>,
                                                14.05.2022.</i>
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <h3 style="font-weight: 400; margin-bottom:5px; font-size: 20px;">5</h3>
                                        <mat-icon color="primary">star</mat-icon><span
                                            style="margin-inline: 3%;margin-top: 0.5%; font-weight: 600;"> &#183;</span>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Very satisfied
                                        </h3>
                                    </div>
                                    <div>
                                        <p> {{text}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="white-container " style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 5%;">
                                        <p style="font-size: 12px; font-weight: 300;  ">
                                            By <span style="font-weight: 400;"> user-email@gmail.com,
                                                <i>14.05.2022.</i></span>
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <h3 style="font-weight: 400; margin-bottom:5px; font-size: 20px;">5</h3>
                                        <mat-icon color="primary">star</mat-icon><span
                                            style="margin-inline: 3%; margin-top: 0.5%; font-weight: 600;">
                                            &#183;</span>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Very satisfied
                                        </h3>
                                    </div>
                                    <div>
                                        <p> {{text}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="white-container " style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 5%;">
                                        <p style="font-size: 12px; font-weight: 300;  ">
                                            By <span style="font-weight: 400;"> user-email@gmail.com, 14.05.2022.</span>
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <h3 style="font-weight: 400; margin-bottom:5px; font-size: 20px;">5</h3>
                                        <mat-icon color="primary">star</mat-icon><span
                                            style="margin-inline: 3%;font-weight: 600;"> &#183;</span>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Very satisfied
                                        </h3>
                                    </div>
                                    <div>
                                        <p> {{text}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="white-container " style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 5%;">
                                        <p style="font-size: 12px; font-weight: 300;  ">
                                            By <span style="font-weight: 400;"> user-email@gmail.com</span>
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <h3 style="font-weight: 400; margin-bottom:5px; font-size: 20px;">5</h3>
                                        <mat-icon color="primary">star</mat-icon><span
                                            style="margin-inline: 3%;font-weight: 600;"> &#183;</span>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Very satisfied
                                        </h3>
                                    </div>
                                    <div>
                                        <p> {{text}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-tab>

            <!-- SALARY-->
            <mat-tab label="Salary">
                
                <div style="margin-bottom: 10%; margin-top: 5%;">
                    <div style="padding-bottom: 2%; padding-inline: 0%; margin-bottom: 1%;">

                        <div class="flex-container">
                            <div class="flex-container flex-item" style="padding-inline: 0%;">
                                <h3 style="font-weight: 400; margin-bottom:5px; font-size: 24px;"><span
                                        style="font-weight: 300; margin-right: 10px">7 Positions Reviewed:</span></h3>
                            </div>
                            <div class="flex-item" style="text-align: right;">
                                <button mat-button color="warn" (click)="openAddSalaryReviewModal()">New Salary Review</button>
                            </div>
                        </div>
                        <div class="rectangle"></div>
                        <br>
                        <div class="flex-container" style="margin-inline: 4%; margin-block: 1.5%;">
                            <div class="salary-div" style="font-weight: 400; text-align: left; width: 40%;">
                                Working position
                            </div>
                            <div class="salary-div" style="font-weight: 400; width: 25%;">
                                avg. Salary<span style="font-size: 24px; font-weight: 300; margin-inline: 10px"> | </span>min. - max. 
                            </div>

                        </div>
                        <div class="flex-container white-container" style="padding-block: 1.5%; padding-inline: 3%; margin: 0.5%;">
                            <div class="salary-div" style="text-align: left; width: 40%;">
                                Full-Stack Developer (Junior)
                            </div>
                            <div class="salary-div" style="width: 30%;">
                                1400&nbsp;&euro;<span style="font-size: 24px; font-weight: 300; margin-inline: 10px"> | </span>700&nbsp;&euro; - 2000&nbsp;&euro;
                            </div>
                            <div class="salary-div" style="text-align: right;width: 30%;">
                                (6 reviews)
                            </div>
                        </div>
                        <div class="flex-container white-container" style="padding-block: 1.5%; padding-inline: 3%; margin: 0.5%;">
                            <div class="salary-div" style="text-align: left; width: 40%;">
                                Software Engineer (Junior)
                            </div>
                            <div class="salary-div" style="width: 30%;">
                                800&nbsp;&euro;<span style="font-size: 24px; font-weight: 300; margin-inline: 10px"> | </span>600&nbsp;&euro; - 1200&nbsp;&euro;
                            </div>
                            <div class="salary-div" style="text-align: right;width: 30%;">
                                (4 reviews)
                            </div>
                        </div>
                        <div class="flex-container white-container" style="padding-block: 1.5%; padding-inline: 3%; margin: 0.5%;">
                            <div class="salary-div" style="text-align: left; width: 40%;">
                                Java Devloper (Senior)
                            </div>
                            <div class="salary-div" style="width: 30%;">
                                1400&nbsp;&euro;<span style="font-size: 24px; font-weight: 300; margin-inline: 10px"> | </span>1000&nbsp;&euro; - 2000&nbsp;&euro;
                            </div>
                            <div class="salary-div" style="text-align: right;width: 30%;">
                                (3 reviews)
                            </div>
                        </div>
                        <div class="flex-container white-container" style="padding-block: 1.5%; padding-inline: 3%; margin: 0.5%;">
                            <div class="salary-div" style="text-align: left; width: 40%;">
                                Working position
                            </div>
                            <div class="salary-div" style="width: 30%;">
                                1400&nbsp;&euro;<span style="font-size: 24px; font-weight: 300; margin-inline: 10px"> | </span>700&nbsp;&euro; - 2000&nbsp;&euro;
                            </div>
                            <div class="salary-div" style="text-align: right;width: 30%;">
                                (1 reviews)
                            </div>
                        </div>
                        <div class="flex-container white-container" style="padding-block: 1.5%; padding-inline: 3%; margin: 0.5%;">
                            <div class="salary-div" style="text-align: left; width: 40%;">
                                Working position
                            </div>
                            <div class="salary-div" style="width: 30%;">
                                1400&nbsp;&euro;<span style="font-size: 24px; font-weight: 300; margin-inline: 10px"> | </span>700&nbsp;&euro; - 2000&nbsp;&euro;
                            </div>
                            <div class="salary-div" style="text-align: right;width: 30%;">
                                (1 reviews)
                            </div>
                        </div>
                        

                        <div class="flex-container">
                            <div>
                                <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-tab>

            <!-- INTERVIEW-->
            <mat-tab label="Interview & Selection Process">
                <div style="margin-bottom: 10%; margin-top: 6%;">
                    <div style="padding-bottom: 2%; padding-inline: 0%; margin-bottom: 1%;">
                        <div class="flex-container ">
                            <div class="flex-item3" style="text-align: center; padding-block: 6%;">
                                <h3
                                    style="margin-bottom: 15px; margin-left: 0%; font-weight: 400; margin-right:5px; font-size: 30px;">
                                    4.3 <mat-icon color="primary">star</mat-icon>
                                </h3>
                                <div>
                                    <span style="font-weight: 300; margin-bottom:5px; font-size: 20px;"> Interview
                                        Rating</span>
                                </div>
                            </div>
                            <br>
                            <div class="flex-item3">
                                <div class="flex-container" style="font-size: 16px;">
                                    <div style="width: 100px; ">Hard</div>
                                    <mat-progress-bar mode="determinate" [value]="hard"></mat-progress-bar> {{hard}}%
                                </div><br>
                                <div class="flex-container" style="font-size: 16px;">
                                    <div style="width: 100px; ">Medium </div>
                                    <mat-progress-bar mode="determinate" [value]="medium"></mat-progress-bar>
                                    {{medium}}%
                                </div><br>
                                <div class="flex-container" style="font-size: 16px;">
                                    <div style="width: 100px; ">Easy </div>
                                    <mat-progress-bar mode="determinate" [value]="easy"></mat-progress-bar> {{easy}}%
                                </div><br>
                            </div>
                            <div class="flex-item3" style="text-align: center; padding-block: 6%;">
                                <div class=" flex-container ">
                                    <h3
                                        style="margin-bottom: 15px; margin-left: 42%; font-weight: 400; margin-right:5px; font-size: 30px;">
                                        2.9 Weeks </h3>
                                </div>
                                <div>
                                    <span style="font-weight: 300; margin-bottom:5px; font-size: 20px;"> Selection
                                        Process Duration</span>
                                </div>
                            </div>
                        </div>
                        <br>


                        <div class="flex-container">
                            <div class="flex-container flex-item" style="padding-inline: 0%;">
                                <h3 style="font-weight: 400; margin-bottom:5px; font-size: 24px;"><span
                                        style="font-weight: 300; margin-right: 10px">13 Comments:</span></h3>
                            </div>
                            <div class="flex-item" style="text-align: right;">
                                <button mat-button color="warn" (click)="openAddInterviewReviewModal()">Leave a Comment</button>
                            </div>
                        </div>
                        <div class="rectangle"></div>
                        <br>

                        <div class="flex-container">
                            <div class="flex-item">
                                <div class="white-container " style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 5%;">
                                        <p style="font-size: 12px; font-weight: 300;  ">
                                            By <i><span style="font-weight: 400;"> user-email@gmail.com</span>,
                                                14.05.2022.</i>
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <h3 style="font-weight: 400; margin-bottom:5px; font-size: 20px;">5</h3>
                                        <mat-icon color="primary">star</mat-icon>
                                        <h3 style="font-size: 16px; font-weight: 300; ">
                                            (Medium)
                                        </h3>
                                        <span style="margin-inline: 3%; margin-top: 0.5%; font-weight: 600;">
                                            &#183;</span>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Very satisfied
                                        </h3>
                                    </div>
                                    <div>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            HR Interview
                                        </h3>
                                        <p> {{text}}</p>
                                    </div>
                                    <br>
                                    <div>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Technical Interview
                                        </h3>
                                        <p> {{text}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="white-container " style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 5%;">
                                        <p style="font-size: 12px; font-weight: 300;  ">
                                            <i>By <span style="font-weight: 400;"> user-email@gmail.com</span>,
                                                14.05.2022.</i>
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <h3 style="font-weight: 400; margin-bottom:5px; font-size: 20px;">5</h3>
                                        <mat-icon color="primary">star</mat-icon><span
                                            style="margin-inline: 3%;margin-top: 0.5%; font-weight: 600;"> &#183;</span>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Very satisfied
                                        </h3>
                                    </div>
                                    <div>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            HR Interview
                                        </h3>
                                        <p> {{text}}</p>
                                    </div>
                                    <br>
                                    <div>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Technical Interview
                                        </h3>
                                        <p> {{text}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="white-container " style="padding: 3%; padding-inline: 4%;">

                                    <div class="flex-container" style="padding-inline: 5%;">
                                        <p style="font-size: 12px; font-weight: 300;  ">
                                            By <span style="font-weight: 400;"> user-email@gmail.com</span>
                                        </p>
                                    </div>
                                    <div class="flex-container" style="padding-inline: 1%;">
                                        <h3 style="font-weight: 400; margin-bottom:5px; font-size: 20px;">5</h3>
                                        <mat-icon color="primary">star</mat-icon><span
                                            style="margin-inline: 3%;font-weight: 600;">
                                            &#183;</span>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Very satisfied
                                        </h3>
                                    </div>
                                    <div>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            HR Interview
                                        </h3>
                                        <p> {{text}}</p>
                                    </div>
                                    <br>
                                    <div>
                                        <h3
                                            style="font-size: 20px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Technical Interview
                                        </h3>
                                        <p> {{text}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-tab>

            <!-- JOBS-->
            <mat-tab label="Jobs">
                <div style="margin-bottom: 10%; margin-top: 5%;">
                    <div style="padding-bottom: 2%; padding-inline: 0%; margin-bottom: 1%;">

                        <div class="flex-container">
                            <div class="flex-container flex-item" style="padding-inline: 0%;">
                                <h3 style="font-weight: 400; margin-bottom:5px; font-size: 24px;"><span
                                        style="font-weight: 300; margin-right: 10px">7 Open Positions:</span></h3>
                            </div>
                            <div class="flex-item" style="text-align: right;">
                                <button mat-button color="warn">New Job</button>
                            </div>
                        </div>
                        <div class="rectangle"></div>
                        <br>
                        <div class="flex-container">
                            <div class="flex-item">
                                <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                                    <div style="padding-inline: 1%;">
                                        <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Frontend Developer <span style="padding-inline: 10px">&#183;</span> Senior
                                        </p>
                                        <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Company Name
                                        </p>
                                    </div>
                                    <div style=" margin-block: 5%;">
                                        <div style="  margin-block: 2%;" class="flex-container">
                                            <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                                                src="../../../assets/images/pin.png" />
                                            Belgrade
                                        </div>
                                        <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                                            Read more on <a href="" style="padding-inline:5px">
                                                www.company-website.com</a>
                                        </div>
                                    </div>
                                    <div class="flex-container">
                                        <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                                            <mat-chip-list aria-label="Fish selection">
                                                <mat-chip
                                                    style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                                    JavaScript</mat-chip>
                                                <mat-chip style="border-radius: 3px;  font-size: smaller;" selected>
                                                    Angular</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                        <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                                            <i><span style=" text-align: right; font-weight: 300; ">
                                                Open until 21.06.2022.</span></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                                    <div style="padding-inline: 1%;">
                                        <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Java Developer <span style="padding-inline: 10px">&#183;</span> Junior
                                        </p>
                                        <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Company Name
                                        </p>
                                    </div>
                                    <div style=" margin-block: 5%;">
                                        <div style="  margin-block: 2%;" class="flex-container">
                                            <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                                                src="../../../assets/images/pin.png" />
                                            Remote
                                        </div>
                                        <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                                            Read more on <a href="" style="padding-inline:5px">
                                                www.company-website.com</a>
                                        </div>
                                    </div>
                                    <div class="flex-container">
                                        <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                                            <mat-chip-list aria-label="Fish selection">
                                                <mat-chip
                                                    style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                                    Java</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                        <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                                            <i><span style=" text-align: right; font-weight: 300; ">
                                                Open until 21.06.2022.</span></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item">
                                <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                                    <div style="padding-inline: 1%;">
                                        <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            DevOps Engineer <span style="padding-inline: 10px">&#183;</span> Senior
                                        </p>
                                        <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                            Company Name
                                        </p>
                                    </div>
                                    <div style=" margin-block: 5%;">
                                        <div style="  margin-block: 2%;" class="flex-container">
                                            <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                                                src="../../../assets/images/pin.png" />
                                            Novi Sad
                                        </div>
                                        <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                                            Read more on <a href="" style="padding-inline:5px">
                                                www.company-website.com</a>
                                        </div>
                                    </div>
                                    <div class="flex-container">
                                        <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                                            <mat-chip-list aria-label="Fish selection">
                                                <mat-chip style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                                    Docker</mat-chip>
                                                <mat-chip style="border-radius: 3px;  font-size: smaller;" selected>
                                                    AWS</mat-chip>
                                                <mat-chip style="border-radius: 3px;  font-size: smaller;" selected>
                                                    Azure</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                        <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                                            <i><span style=" text-align: right; font-weight: 300; ">
                                                Open until 21.06.2022.</span></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
</div>