<div style="margin-inline: 15%; margin-top: 3%;">

    <h1 style="font-size:40px; font-weight: 200; margin-top: 6%; margin-bottom: 5%; text-align: center;">Jobs overview</h1>
    <div class="rectangle"></div>
    <br>
    <br>
    <br>
    <div class="flex-container">
        <div class="flex-item" *ngFor="let job of jobs">
            <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                <div style="padding-inline: 1%;">
                    <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        {{job.position}} <span style="padding-inline: 10px">&#183;</span> {{job.seniority | titlecase}}
                    </p>
                    <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        {{job.companyName}}
                    </p>
                </div>
                <div style=" margin-block: 5%;">
                    <div style="  margin-block: 2%;" class="flex-container">
                        <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                            src="../../../assets/images/pin.png" />
                        {{job.location}}
                    </div>
                    <!-- <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                        Read more on <a href="" style="padding-inline:5px">
                            www.company-website.com</a>
                    </div> -->
                </div>
                <div class="flex-container">
                    <!-- <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip
                                style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                JavaScript</mat-chip>
                            <mat-chip style="border-radius: 3px;  font-size: smaller;" selected>
                                Angular</mat-chip>
                        </mat-chip-list>
                    </div> -->
                    <div>
                        <p> {{job.description}}</p>
                    </div>
                    <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                        <i><span style=" text-align: right; font-weight: 300; ">
                            Open until {{job.closingDate | date: 'dd.MM.yyyy.'}}</span></i>
                    </div>
                </div>
            </div>
        </div>
<!--         
        <div class="flex-item">
            <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                <div style="padding-inline: 1%;">
                    <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Frontend Developer <span style="padding-inline: 10px">&#183;</span> Senior
                    </p>
                    <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Company Name
                    </p>
                </div>
                <div style=" margin-block: 5%;">
                    <div style="  margin-block: 2%;" class="flex-container">
                        <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                            src="../../../assets/images/pin.png" />
                        Belgrade
                    </div>
                    <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                        Read more on <a href="" style="padding-inline:5px">
                            www.company-website.com</a>
                    </div>
                </div>
                <div class="flex-container">
                    <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip
                                style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                JavaScript</mat-chip>
                            <mat-chip style="border-radius: 3px;  font-size: smaller;" selected>
                                Angular</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                        <i><span style=" text-align: right; font-weight: 300; ">
                            Open until 21.06.2022.</span></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                <div style="padding-inline: 1%;">
                    <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Java Developer <span style="padding-inline: 10px">&#183;</span> Junior
                    </p>
                    <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Company Name
                    </p>
                </div>
                <div style=" margin-block: 5%;">
                    <div style="  margin-block: 2%;" class="flex-container">
                        <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                            src="../../../assets/images/pin.png" />
                        Remote
                    </div>
                    <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                        Read more on <a href="" style="padding-inline:5px">
                            www.company-website.com</a>
                    </div>
                </div>
                <div class="flex-container">
                    <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip
                                style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                Java</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                        <i><span style=" text-align: right; font-weight: 300; ">
                            Open until 21.06.2022.</span></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                <div style="padding-inline: 1%;">
                    <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        DevOps Engineer <span style="padding-inline: 10px">&#183;</span> Senior
                    </p>
                    <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Company Name
                    </p>
                </div>
                <div style=" margin-block: 5%;">
                    <div style="  margin-block: 2%;" class="flex-container">
                        <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                            src="../../../assets/images/pin.png" />
                        Novi Sad
                    </div>
                    <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                        Read more on <a href="" style="padding-inline:5px">
                            www.company-website.com</a>
                    </div>
                </div>
                <div class="flex-container">
                    <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                Docker</mat-chip>
                            <mat-chip style="border-radius: 3px;  font-size: smaller;" selected>
                                AWS</mat-chip>
                            <mat-chip style="border-radius: 3px;  font-size: smaller;" selected>
                                Azure</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                        <i><span style=" text-align: right; font-weight: 300; ">
                            Open until 21.06.2022.</span></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                <div style="padding-inline: 1%;">
                    <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Frontend Developer <span style="padding-inline: 10px">&#183;</span> Senior
                    </p>
                    <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Company Name
                    </p>
                </div>
                <div style=" margin-block: 5%;">
                    <div style="  margin-block: 2%;" class="flex-container">
                        <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                            src="../../../assets/images/pin.png" />
                        Belgrade
                    </div>
                    <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                        Read more on <a href="" style="padding-inline:5px">
                            www.company-website.com</a>
                    </div>
                </div>
                <div class="flex-container">
                    <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip
                                style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                JavaScript</mat-chip>
                            <mat-chip style="border-radius: 3px;  font-size: smaller;" selected>
                                Angular</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                        <i><span style=" text-align: right; font-weight: 300; ">
                            Open until 21.06.2022.</span></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                <div style="padding-inline: 1%;">
                    <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Java Developer <span style="padding-inline: 10px">&#183;</span> Junior
                    </p>
                    <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Company Name
                    </p>
                </div>
                <div style=" margin-block: 5%;">
                    <div style="  margin-block: 2%;" class="flex-container">
                        <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                            src="../../../assets/images/pin.png" />
                        Remote
                    </div>
                    <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                        Read more on <a href="" style="padding-inline:5px">
                            www.company-website.com</a>
                    </div>
                </div>
                <div class="flex-container">
                    <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip
                                style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                Java</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                        <i><span style=" text-align: right; font-weight: 300; ">
                            Open until 21.06.2022.</span></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="white-container " style="padding: 5%; padding-inline: 4%;">
                <div style="padding-inline: 1%;">
                    <p style="font-size: 22px; font-weight: 400;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Java Developer <span style="padding-inline: 10px">&#183;</span> Junior
                    </p>
                    <p style="font-size: 18px; font-weight: 300;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                        Company Name
                    </p>
                </div>
                <div style=" margin-block: 5%;">
                    <div style="  margin-block: 2%;" class="flex-container">
                        <img style="padding-inline:10px; width: 2.5%; height: 2%;"
                            src="../../../assets/images/pin.png" />
                        Remote
                    </div>
                    <div style=" margin-block: 3%; font-weight: 300;" class="flex-container">
                        Read more on <a href="" style="padding-inline:5px">
                            www.company-website.com</a>
                    </div>
                </div>
                <div class="flex-container">
                    <div style=" box-sizing: border-box; max-width: 70%; flex: 70%; ">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip
                                style="border-radius: 3px; font-size: smaller; margin-block: 0px; max-height: 20px;" selected>
                                Java</mat-chip>
                        </mat-chip-list>
                    </div>
                    <div style=" box-sizing: border-box; max-width: 30%; flex: 30%; padding-top: 10px;">
                        <i><span style=" text-align: right; font-weight: 300; ">
                            Open until 21.06.2022.</span></i>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <br>
    <br>
    <br>
    <br>
</div>