<div style="margin-inline: 15%; margin-top: 3%;">

    <h1 style="font-size:40px; font-weight: 200; margin-top: 6%; margin-bottom: 5%; text-align: center;">Companies
        overview</h1>
    <div class="rectangle"></div>
    <br>
    <br>
    <br>
    <div class="flex-container">
      
        <div class="flex-item" *ngFor="let company of companies">
            <div class="company-container " style="padding: 3%; padding-inline: 4%;">
                <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                    {{company.name}}
                </h2>
                <div class="flex-container" style="padding-inline: 4%;">
                    <h3 style="font-weight: 400; margin-bottom:5px; font-size: 18px;">{{company.rating | number : '1.1-1'}}</h3>
                    <mat-icon color="primary">star</mat-icon>
                    <h4 style="font-size: 14px; padding-left:3%;"> (312)</h4>
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Office: </div>{{company.location}}
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Employees: </div>{{formatEmployeesNumberRange(company.employeesNumberRange)}}
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Industry: </div> {{company.industry}}
                </div>
                <br>
                <div class="truncate" >
                    <p>{{company.about}}</p>
                </div>
                <br>
                <button mat-raised-button color="warn"
                    style="margin-inline:40%; width: 20%; margin-block: 2%;" (click)="openCompanyPage(company.id)">View</button>
            </div>
        </div>
        <!-- <div class="flex-item">
            <div class="company-container " style="padding: 3%; padding-inline: 4%;">
                <h2 style="margin: 1%; font-size: 24px; font-weight: 400; width:100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                    Engineering Software Lab
                </h2>
                <div class="flex-container" style="padding-inline: 4%;">
                    <h3 style="font-weight: 400; margin-bottom:5px; font-size: 18px;">4.3</h3>
                    <mat-icon color="primary">star</mat-icon>
                    <h4 style="font-size: 14px; padding-left:3%;"> (312)</h4>
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Offices: </div>Beograd
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Employees: </div>101-250
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Industry: </div> IT Services
                </div>
                <br>
                <div class="truncate">
                    <p>{{text}}</p>
                </div>
                <br>
                <button mat-raised-button color="warn"
                    style="margin-inline:40%; width: 20%; margin-block: 2%;" [routerLink]="['/company/id']">View</button>
            </div>
        </div> -->
        
    </div>
    <br>
    <br>
    <br>
    <br>
</div>