<div style="margin-inline: 15%; margin-top: 3%;">

    <h1 style="font-size:40px; font-weight: 200; margin-top: 6%; margin-bottom: 5%; text-align: center;">Company
        Registration Requests</h1>
    <div class="rectangle"></div>
    <br>
    <br>
    <br>
    <div class="flex-container">
        <div class="flex-item" *ngFor="let request of requests">
            <div class="company-container " style="padding: 3%; padding-inline: 4%;">
                <h2
                    style="margin: 3%; font-size: 24px; font-weight: 400; width:100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                    {{request.name}}
                </h2>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Offices: </div>{{request.location}}
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Employees: </div>{{formatEmployeesNumberRange(request.employeesNumberRange)}}
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Industry: </div> {{request.industry}}
                </div>
                <div style=" margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Website: </div>www.company-website.com
                </div>
                <div style="  margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">E-mail: </div>{{request.email}}
                </div>
                <div style="  margin: 1%;" class="flex-container">
                    <div style="width: 120px; font-weight: 300;">Phone number: </div> {{request.phoneNumber}}
                </div>
                <br>
                <div class="truncate">
                    <p>{{request.about}}</p>
                </div>
                <br>
                <div class="flex-container" style="text-align: right;">
                    <button mat-raised-button color="warn"
                        style="margin-left:28%; width: 20%; margin-block: 2%;" (click)="approveRequest(request.id)">Approve</button>
                    <!-- <button mat-stroked-button color="warn"
                        style="margin-left:4%; margin-right: 28%; width: 20%; margin-block: 2%;">Reject</button> -->
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
</div>